
/*nav*/
nav {
    background-color: #000406; 
    padding: 10px;
    z-index: 10;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 4px;
}

/*text*/
body, html {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    padding-top: 60px; 
    position: relative;
}

.profile-container {
    text-align: center;
}

.profile-name {
    font-size: 5em;
    font-weight: 300;
    margin: 0;
    color: #fff;
    font-weight: bold; 
    width: 100%; 

}

.profile-title {
    font-size: 1.5em;
    font-weight: 300;
    margin-top: 10px;
    color: #888888;
}

.profile-description {
    font-size: 1em;
    font-weight: 300;
    margin-top: 5px;
    color: #aaaaaa;
}

canvas {
    position: absolute;
    top: 10;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
